body{
    background-color: skyblue;
    padding-top: 50px;
    font-size: 18px;
}
img{
    width: 200px;
    height: 150px;
}

nav{
    display: flex;
<<<<<<< HEAD
=======

>>>>>>> origin/master
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 150px;
}
nav .logo img{
    height: 150px;
    width: 150px;
}
.navlinks{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.navlinks :hover{
    background-color: yellow;
}
.navlinks a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Roboto' sans-serif;
}
.navlinks li{
    list-style: none;
<<<<<<< HEAD
=======

    align-items: center;
    justify-content: space-between;
    height: 20px;
}

nav ul{
    display: flex;

}
.logo{
    display: flex;
    height: 150px;
    width: 150px;
}

.nav-items li{
    list-style: none;
    margin-right: 50px;
}
.nav-items li a{
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-decoration: none;
master
>>>>>>> origin/master
}

.context{
    padding-top: 30px;
    font-size: 20px;
}
.navigation{
    height: 150px;
    background-color: white;
}


.footer{
    background-color: black;
    color: white;
    padding-left: 200px;
}
a{
<<<<<<< HEAD
    /* color: red; */
=======

    color: red
>>>>>>> origin/master
    text-size-adjust: 30;
    text-align: center;
    text-decoration: underline color rgb(0, 0, 0);
}