body{
    background-color: skyblue;
    padding-top: 50px;
    font-size: 18px;
    font-family: 'Roboto' sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 150px;
}
nav .logo img{
    height: 150px;
    width: 150px;
}
.navlinks{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.navlinks :hover{
    background-color:yellow;
}
.navlinks a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: inherit;
}
.navlinks li{
    list-style: none;
}
.jumbtron{
    background-color: #aaa;
    padding: 10%;
}
.jumbtron .card{
    width: 100%;
   
}
.card-body{
    background-color: #eee;
    padding: 10px;
    margin: 2%;
    
}
.card-body h3{
    font-weight: 200;
}

.footer{
    background-color: black;
    color: white;
    padding-left: 200px;
}