body{
    background-color: skyblue;
    padding-top: 50px;
    font-size: 18px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}
nav ul{
    display: flex;
}
.logo{
    display: flex;
    height: 150px;
    width: 150px;
}
.nav-items li{
    list-style: none;
    margin-right: 50px;
}
.nav-items li a{
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-decoration: none;
}
/* 
.context{
    padding-top: 30px;
    font-size: 20px;
}
.navigation{
    height: 150px;
    background-color: white;
}
.footer{
    background-color: black;
    color: white;
    padding-left: 200px;
} */
.jumbtron{
    background-color: #aaa;
    padding: 1%;
}
.jumbtron .card{
    border: 2px solid chocolate;
   
}

.card-body form{
    margin: 2px;
    border: 2px soilid red;
}